<div class="">
  <div class="row justify-content-center">

    <div class="col-md-7 ">
      <div class="card">
        <img class="card-img-top img-thumbnail " src="{{img.url}}">

        <div class="card-footer text-wrap text-uppercase font-italic">
          <h5> #Phasellus #vel #nisi #ligula
            #iverra #Ipsu #ullamcorperee
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-body">
        <h2>{{img.title}}</h2>
      </div>

      <div class="card-body">
        <p>{{img.description}}</p>
      </div>

      <div class="card-body">
        <p>{{img.addTime}}</p>
      </div>
    </div>
  </div>
</div>